.logo, .photo {
    width: 90%;
    margin: 5%;
}

.navbar {
    text-align: center;
}

.details .name {
    font-weight: bold;
}

.ui-input-btn input.negative {
    background-color: #ed1c24;
}

.ui-input-btn input.positive {
    background-color: #8cc63f;
}
